body {
    /* location of image */
    background-image: url(../img/endless_road.jpg);
    
    /* background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that is doesn't move when the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed while the background image is loading */
    background-color: #464646;
    

}

/**
 * 
 *    Making the Navbar transparent
 *    
 *    Source: http://stackoverflow.com/questions/16392952/css-to-make-bootstrap-navbar-transparent
 *    
 */
.navbar.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/**
 *     Text for Navbar
 */
.navbar {
    font-family: 'Montserrat', sans-serif;
}

/**
 *     Adding animation
 *
 *     source: http://stackoverflow.com/questions/17322305/css3-animations-fade-in-as-move-down
 *     
 */
.animation-text {
    position:relative;
    animation:mymove 3s ease-out forwards;
    animation-fill-mode: forwards;
    /*animation-iteration-count:3;*/

    /* Safari and Chrome */
    -webkit-animation:mymove 3s;
    -webkit-animation-fill-mode:forwards;
    /*-webkit-animation-iteration-count:3;*/
}

@keyframes mymove
{ 
from {top:0px; opacity: 0;}
to {top:85px; opacity: 1}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {top:0px; opacity: 0;}
to {top:85px; opacity: 1;}
}


/**
 *    Styling for current temperature
 */
#current-temp {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    border-bottom: 0px;
    padding-bottom: 0px;
    height: 90px;
}

#conditions {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    border-top: 0px;
    padding-top: 0px;
    height: 60px;
}

